################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlizzardApi/bin/Debug
/PrioBar/bin/Debug
/PrioBar/obj/Debug
*.user
*.suo
/BlizzardApi/obj/Debug
/PrioBar.CsLuaTrigger/bin/Debug
/PrioBar.CsLuaTrigger/obj/Debug
